.seccion1{
    background-color:#5E91F8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px 0 0 10px;
    padding-top: 50px;
    padding-left: 50px;
    width: 310px;
    height: 400px;
}
h1{
    padding-top: 60px;
    font-size: 30px;
}
.seccion2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 400px;
    margin-top: -460px;
    border-radius: 0 10px 10px 0;
}
.texto{
    height: 20px;
    width: 500px;
    border:0px;
    border-bottom: 1px solid gray;
}
.boton{
    font-weight: bold;
    background-color: #5E91F8;
    color: white;
    width: 150px;
    margin-top: 15px;
    margin-left:350px ;
    border-radius: 20px;
    padding: 20px;
}

