.tabla1{
    table-layout: fixed;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    height: 500px;
    font-size: 40px;
    border-style: none;

} 
.gris{
    background-color: gray;
    color: white;
}
.g{
    background-color: #c3c3c3;
    color: black;
    border-style: none;
   
}
.n{
    background-color: orange;
    color: white;
    border-style: none;
}