table{
    table-layout: fixed;
    width: 600px;
}
.azul{
background-color: #7AE2F8;
font-weight: bold;
}
.num{
    background-color: #F8F17A;
    font-weight: bold;
}
.verde{
    background-color: #CEF87A;
    font-weight: bold;
}