.header{
    background-color: orangered;
    height: 70px;
    border-radius: 15px;
}
.nav1{
    margin-top: 10px;
    background-color: yellow;
    height: 70px;
    border-radius: 15px;
}
.main1{
    margin-top: 10px;
    background-color:teal;
    height: 500px;
    width: 800px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    
}
.aside1{
    background-color:royalblue;
    height: 500px;
    width: 600px;
    border-radius: 15px;
    position: relative;
    margin: -515px 820px;
}
.article1{
    display: inline-block;
    background-color: turquoise;
    height: 160px;
    width: 250px;
    border-radius: 15px;
    margin-top: 280px;
    margin-left: 50px;
    position: relative;
}
.article2{
    display: inline-block;
    background-color: turquoise;
    height: 160px;
    width: 250px;
    border-radius: 15px;
    margin-top: 280px;
    margin-left: 100px;
    position: relative;
}
.footer1{
    background-color: turquoise;
    height: 70px;
    border-radius: 15px;
    margin-top: 90px;
}